////////////////////////////////////////
// Common styles
////////////////////////////////////////

////////////////////////////////////////Variables

// Colors
$c-selection_cl = #111
$c-selection_bg = #fff


//////////////////////////////////////// Mixins and functions


//////////////////////////////////////// Styles

*::selection
	background $c-selection_bg
	color $c-selection_cl

*::-moz-selection
	background $c-selection_bg
	color $c-selection_cl
